@charset "utf-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
/* @import url('https://db.onlinewebfonts.com/c/ba1e62968c2d877ca1f773d0cf157bc0?family=Publico+Banner+Web+Bold+Italic'); */
:root {
  --font-size-small1:min(max(12px, 1.5em), 14px);
  --font-size-content1:min(max(14px, 1.5em), 16px);
  --font-size-content2:min(max(16px, 1.5em), 18px);
  --font-size-title1:min(max(20px, 1.5em), 26px);
  --font-size-title2:min(max(24px, 2.5em), 34px);
  --font-size-title3:min(max(34px, 2.5em), 54px);
  --font-size-title4:min(max(34px, 3em), 54px);
  --font-size-title5:min(max(38px, 4em), 60px);
}

html, body, div, span, a, form, input, select, button, textarea, legend, fieldset, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, blockquote, address, p, th, td, caption, pre, nav, header {margin:0;padding:0;line-height:1.6;box-sizing:border-box;font-family:'pretendard', 'Open Sans', sans-serif;;font-size:1vw;font-weight:400;color:#000;font-style:normal;box-sizing:border-box;}
input, select, textarea {padding:.2em;border:1px solid rgba( 255, 255, 255, 0.3);background:rgba( 255, 255, 255, 0.1)}
input::placeholder {color:rgba(0, 0, 0, 0.6);font-weight:400}
input:focus {background:rgba(255, 255, 255, 0.2)}
select option {color:#000}
textarea {height:auto}
ol, ul, li {list-style:none;}
a:link, a:visited {text-decoration:none}
a:hover, a:active {text-decoration:none}

html {position:relative;width:100%;height:100%;overflow-y:scroll}
#content {position:relative;padding-bottom:8em}
#header {display:flex;align-items:center;justify-content:space-between;height:3em;padding:1.5em 2em .8em;min-height:38px;max-width:1600px;margin:0 auto;}
#header>*{flex:1;}
#header h1 {position:relative;text-align:center}
#header h1 img {position:relative;top:.03em;width:6em;transform:scaleY(.9);}
#header h1 a, #header h1 a.router-link-active {position:relative;font-size:var(--font-size-title2);}
#header nav {order:-1;}
#header nav ul {display:flex;}
#header nav ul a {padding:.5em;font-size:var(--font-size-small1);font-weight:600}
#header nav ul a.router-link-active, #header nav ul a:hover {color:red}
#header .search_area {display:flex;align-items:center;justify-content:flex-end;}
#header .search_area .btn_search {position:relative;width:min(max(20px, 1em), 23px);height:min(max(20px, 1em), 23px);padding:0;border:0 none;background:none;cursor:pointer;z-index:11;background:url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="24" height="24" viewBox="0 0 24 24"%3E%3Cpath fill="black" d="M9.5 3A6.5 6.5 0 0 1 16 9.5c0 1.61-.59 3.09-1.56 4.23l.27.27h.79l5 5l-1.5 1.5l-5-5v-.79l-.27-.27A6.516 6.516 0 0 1 9.5 16A6.5 6.5 0 0 1 3 9.5A6.5 6.5 0 0 1 9.5 3m0 2C7 5 5 7 5 9.5S7 14 9.5 14S14 12 14 9.5S12 5 9.5 5Z"%2F%3E%3C%2Fsvg%3E')}
#header .search_area .search_in {position:fixed;top:0;right:0;bottom:0;left:0;width:0;height:0;overflow:hidden}
#header .search_area .search_form {display:flex;align-items:center;width:0;height:0;overflow:hidden}
#header .search_area .search_input {width:0;font-size:var(--font-size-content1);border:0 none;border-bottom:1px solid #333;background:none;outline:0;transition:width ease .6s;}
#header .search_area.active .search_form {position:relative;width:auto;height:auto;z-index:11}
#header .search_area.active .search_in {width:auto;height:auto;z-index:10}
#header .search_area.active .search_input {position:relative;width:12em;height:2em}
#header .search_area.active .search_form + .btn_search {display:none}
.main #header {position:absolute;top:0;left:0;right:0;z-index:5}
.main #header nav ul a, .main #header h1 a, .main #header h1 a.router-link-active {color:#fff}
.main #header .search_area .btn_search {background:url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="24" height="24" viewBox="0 0 24 24"%3E%3Cpath fill="white" d="M9.5 3A6.5 6.5 0 0 1 16 9.5c0 1.61-.59 3.09-1.56 4.23l.27.27h.79l5 5l-1.5 1.5l-5-5v-.79l-.27-.27A6.516 6.516 0 0 1 9.5 16A6.5 6.5 0 0 1 3 9.5A6.5 6.5 0 0 1 9.5 3m0 2C7 5 5 7 5 9.5S7 14 9.5 14S14 12 14 9.5S12 5 9.5 5Z"%2F%3E%3C%2Fsvg%3E')}
.main #header .search_area .search_input {color:#fff;background:none;border:0 none;border-bottom:1px solid #fff;}
.main #header .search_area .search_input::placeholder {color:#aaa}
@media screen and (max-width:800px) {
  #header {padding:3em 2em 1em}
  #header .search_area.active {width:100%}
  #header .search_area.active .search_form {width:100%;justify-content:flex-end}
  #header .search_area.active .search_input {width:calc(100% - 3em)}
  #header nav:has(+ .search_area.active), #header h1:has(+ nav + .search_area.active) {display:none}
}

.sr_only {position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);border:0;}
.error {height:88vh;text-align:center;display:flex;flex-direction:column;align-items:center;justify-content:center;}
.error h2 {font-size:var(--font-size-title2)}
.error p {font-size:var(--font-size-content1);padding:0.5em 0 0;}
.error p + p {padding:0.2em 0 2em;}
.sub_title {position:relative;width:100%;text-align:center;font-weight:800;font-size:var(--font-size-title4);margin-top:1em;z-index:5}
.btn {position:relative;font-size:var(--font-size-content1);line-height:1.5;background:none;border:1px solid #000;padding:.3em 1em;cursor:pointer;transition:color 0.4s ease}
.btn:after{content:'';position:absolute;top:0;left:0;width:0;height:100%;mix-blend-mode:lighten;background:#000;transition:width 0.4s ease;}
.btn:hover{color:#fff;}
.btn:hover:after{width:100%;height:100%;}
.btn.sub {padding:0 .5em}

.main_movie {position:relative;height:100vh;margin-bottom:4em}
.main_movie:before {content:'';position:absolute;top:0;right:0;bottom:0;left:0;background:rgba(0, 0, 0, 0.30)}
.main_movie:after {content:'';position:absolute;top:0;right:0;bottom:0;left:0;background:linear-gradient(180deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.3) 32%, rgba(0,0,0,0) 57%, rgba(0,0,0,0) 100%)}
.main_movie img {height:100%;width:100%;object-position:center;object-fit:cover}
.main_movie .border {position:absolute;top:0px;left:0px;width:100%;height:100%;z-index:5;pointer-events:none;overflow:hidden;}
.main_movie .border span {position:absolute;inset:0px;background-color:white;z-index:5;transition:transform 0.5s ease 0s;clip-path:polygon(0% 0%, 0% 200%, 3vw 200%, 3vw 3vw, calc(100% - 3vw) 3vw, calc(100% - 3vw) calc(100% - 3vw), 3vw calc(100% - 3vw), 3vw 200%, 100% 200%, 100% 0%);transform:scale3d(1.2, 1.2, 1);}
.main_movie .feature {position:absolute;top:60%;left:50%;transform:translate(-50%, -50%);min-width:260px;max-width:560px;text-align:center;color:#fff;z-index:5}
.main_movie .feature h1 {position:relative;font-size:var(--font-size-title5);color:#fff;font-weight:800;line-height:1.2;display:inline-block;padding:0.1em 0.4em 0.2em;transform:skewX(350deg) rotate(-1.2deg);}
.main_movie .feature h1:after {content:'';position:absolute;top:0;right:0;bottom:0;left:0;background:rgba(255, 0, 0, 0.6);z-index:-1}
.main_movie .feature strong {display:block;font-size:var(--font-size-title2);font-weight:400;color:#fff;line-height:1.2;margin-top:3em}
.main_movie .feature em {display:block;font-size:var(--font-size-content1);color:#fff;}
.main_movie .feature p {font-size:var(--font-size-content1);color:#fff;margin:1.5em auto;text-overflow:ellipsis;overflow:hidden;word-wrap:break-word;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:3;}
/* @media screen and (max-width:800px) {
  .main_movie {position:relative;height:88vh}
} */

.list {display:flex;flex-wrap:wrap;justify-content:flex-start;align-content:stretch;gap:2%;width:100%;max-width:1600px;padding:0 2em;margin:1em auto}
.list li {flex:0 0 32%;white-space:normal;position:relative;overflow:hidden;padding:2em 0 4em;text-align:center}
.list li .thumb {overflow:hidden;aspect-ratio: auto 9/6;}
.list li .thumb img {display:block;width:100%;max-height:100%;object-fit:cover;transform:scale(1.1,1.1);transition:all ease .9s}
.list li .thumb:hover img {transform:scale3d(1.0,1.0,1.0);}
.list li .title {margin:1em 0 0;font-size:var(--font-size-title1);font-weight:600;text-align:center;width:100%;text-overflow:ellipsis;overflow:hidden;word-wrap:break-word;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;}
.list li .titleOriginal {margin:0 0 1em;font-size:var(--font-size-small1);text-align:center;line-height:1;color:#666;width:100%;text-overflow:ellipsis;overflow:hidden;word-wrap:break-word;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;}
.list li .description {font-size:var(--font-size-content1);text-align:left;text-overflow:ellipsis;overflow:hidden;word-wrap:break-word;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;}
.list li h2, .list li p {margin-left:1.5em;margin-right:1.5em;}
@media screen and (max-width:800px) {
  .list {flex-direction:column;padding:0}
  .list li .thumb img, .list li .thumb:hover img {transform:none}
}
.nodata {text-align:center;padding:12em 0;font-size:var(--font-size-content1);background:url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" viewBox="0 0 48 48"%3E%3Cdefs%3E%3Cmask id="ipSMovie0"%3E%3Cg fill="none" stroke-width="1"%3E%3Cpath fill="%23fff" stroke="%23fff" stroke-linejoin="round" d="M24 44c11.046 0 20-8.954 20-20S35.046 4 24 4S4 12.954 4 24s8.954 20 20 20Z"%2F%3E%3Cpath fill="%23000" stroke="%23000" stroke-linejoin="round" d="M24 18a3 3 0 1 0 0-6a3 3 0 0 0 0 6Zm0 18a3 3 0 1 0 0-6a3 3 0 0 0 0 6Zm-9-9a3 3 0 1 0 0-6a3 3 0 0 0 0 6Zm18 0a3 3 0 1 0 0-6a3 3 0 0 0 0 6Z"%2F%3E%3Cpath stroke="%23fff" stroke-linecap="round" d="M24 44h20"%2F%3E%3C%2Fg%3E%3C%2Fmask%3E%3C%2Fdefs%3E%3Cpath fill="gray" d="M0 0h48v48H0z" mask="url(%23ipSMovie0)"%2F%3E%3C%2Fsvg%3E') no-repeat center 7em;background-size:3.5em 3.5em}

.detail_movie {width:100%;max-width:1600px;margin:2em auto 0;padding:0 2em}
.detail_movie .detail_top {position:relative;width:100%;height:auto;aspect-ratio:2.2;}
.detail_movie .detail_top .top_bg {width:100%;height:100%;box-shadow:rgba(0, 0, 0, 0.65) 0px 0px 0px 1000px inset;height:auto;aspect-ratio:2.2;}
.detail_movie .detail_top .top_bg img {width:100%;height:100%;object-fit:cover;height:auto;aspect-ratio:2.2;vertical-align:top}
.detail_movie .detail_top .top_bg:before {content:'';position:absolute;top:0;right:0;bottom:0;left:0;background:rgba(0, 0, 0, 0.40)}
.detail_movie .detail_top .top_con {position:absolute;left:50%;top:50%;text-align:center;transform:translateX(-50%);font-size:var(--font-size-content1);}
.detail_movie .detail_top .top_con .title {color:#fff;font-size:var(--font-size-title4);line-height:1.2;margin-bottom:.5em}
.detail_movie .detail_top .top_con .titleOriginal {color:#fff;font-size:var(--font-size-content1);opacity:.6;}
.detail_movie .detail_top .top_con .openingDate {color:#fff;font-size:var(--font-size-content1);opacity:.6;}
.detail_movie .detail_top .top_con .genre {color:#fff;font-size:var(--font-size-content1);opacity:.6;}
.detail_movie .detail_top .average {position:absolute;top:.7em;right:.7em;width:2.7em;height:2.7em;padding-top:.8em;color:#fff;font-size:var(--font-size-title2);display:flex;align-items:center;justify-content:center;transform:scale(.8);background:red url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" viewBox="0 0 24 24"%3E%3Cpath fill="white" d="m12.001.63l2.903 8.35l8.839.181l-7.045 5.341l2.56 8.462L12 17.914l-7.256 5.05l2.56-8.462L.26 9.161l8.839-.18L12 .63Z"%2F%3E%3C%2Fsvg%3E') no-repeat center .2em;background-size:.8em .8em}
.detail_movie .detail_con {position:relative;padding:0 2em 0 20em}
.detail_movie p {font-size:var(--font-size-content2)}
.detail_movie .poster {position:absolute;top:1em;left:0;width:18em}
.detail_movie .poster img {width:90%;}
.detail_movie .cast ul {display:flex;flex-wrap:wrap;justify-content:flex-start;align-content:stretch;gap:3em;}
.detail_movie .cast .name {font-size:var(--font-size-title1)}
.detail_movie .cast .role {color:#666;font-size:var(--font-size-small1)}
.detail_movie .photos ul {display:flex;flex-wrap:wrap;justify-content:flex-start;align-content:stretch;gap:2%;max-width:1400px;}
.detail_movie .photos li {flex: 0 0 49%;margin-top:1em}
.detail_movie .photos li img {width:100%}
.detail_movie .detail_title {margin:2em 0 .5em;line-height:1.4;font-weight:800;font-size:var(--font-size-title3)}
.detail_movie .reviews li {position:relative;margin-bottom:2em;padding-left:min(max(44px, 4em), 56px)}
.detail_movie .reviews li .rating {position:absolute;top:.3em;left:0;margin-bottom:.5em;font-weight:800;font-size:var(--font-size-content2);width:2.1em;height:2.1em;color:#fff;background:red;display:flex;align-items:center;justify-content:center;border-radius:3em}
.detail_movie .reviews li .review {margin-bottom:.8em;font-size:var(--font-size-content1);word-break:keep-all;white-space:pre-wrap;}
.detail_movie .reviews li .review_date {color:#666;font-size:var(--font-size-small1)}
.detail_movie .reviews li .btn_right {position:absolute;right:0;bottom:0}
.detail_movie .reviews li .btn.sub {margin:0 .2em}
.detail_movie .reviews .review_input {width:100%;background:#eee;margin-top:.5em;padding:.6em;font-size:var(--font-size-content1);}
.detail_movie .reviews .review_write {display:flex;justify-content:space-between;align-items:center;margin:.1em 0 2.4em}
.detail_movie .reviews .star_rating {display:flex;align-items:center}
.detail_movie .reviews .number {display:inline-block;width:1.8em;height:1.8em;border-radius:2em;margin-right:.4em;line-height:1.9;text-align:center;color:#fff;font-size:var(--font-size-small1);background:#333;}
.detail_movie .reviews .average-rating {display:inline-block;height:1.5em}
.detail_movie .reviews .nodata {font-size:var(--font-size-content1);color:#666;text-align:center;padding:1em 0 3em}
@media screen and (max-width:1400px) {
  .detail_movie .detail_con {padding:0 2em 0 26em}
  .detail_movie .poster {width:24em}
}
@media screen and (max-width:800px) {
  .detail_movie {padding:0}
  .detail_movie .detail_top {height:50vh;}
  .detail_movie .detail_top .top_bg img {height:50vh}
  .detail_movie .detail_con {padding:0 6em}
  .detail_movie .detail_title {margin:1.5em 0 .3em}
  .detail_movie .poster {position: relative;top:auto;left:auto;width:auto;margin-top:8em;text-align:center}
  .detail_movie .photos ul {flex-wrap:nowrap;flex-direction:column;}
  .detail_movie .photos li {margin-top:2em;}
  .detail_movie .reviews li {margin-bottom:6em}
  .detail_movie .reviews .review_write {margin:1em 0 5em}
}

.login {max-width:500px;min-width:200px;margin:0 auto;padding:0 24px}
.login:before {content:'';position:absolute;top:0;right:0;bottom:0;left:0;background-image:linear-gradient(to bottom, #f5f5f5 0, white 300px)}
.login .sub_title {padding:1em 0 0;font-weight:600;}
.login p {position:relative;height:50px;margin:20px 0 30px}
.login p.error {position:relative;height:auto;margin:0;font-size:14px;color:#ff003e;margin:-5px 0 10px}
.login input {box-sizing:border-box;padding:10px 0 0;width:100%;height:100%;border:0 none;color:#222;outline:none;font-size:var(--font-size-content1)}
.login label {position:absolute;left:0%;bottom:0;width:100%;height:100%;border-bottom:1px solid #bbb;text-align:left;pointer-events:none;}
.login label:after {content:"";position:absolute;left:0;bottom:-1px;width:100%;height:100%;border-bottom:2px solid #1867c0;transition:transform .3s ease;transform:scaleX(0);}
.login .invalid label:after {border-bottom:2px solid #ff003e;transform:scaleX(1)}
.login label span {position:absolute;left:0;bottom:5px;color:#666;transition:transform .3s ease;transform-origin:top left;font-size:var(--font-size-content1)}
.login input:focus + label span {transform:translateY(-100%) scale(.8);color:#1867c0;}
.login input:focus + label::after {transform: scaleX(1);} 
.login input:not(:placeholder-shown):not(:focus) + label span {transform:translateY(-100%) scale(.8);color:#666;}
.login input::placeholder {color:rgba( 255, 255, 255, 0)}
.login button {width:100%;padding:12px 0;margin-top:15px;z-index:1}
.login .loginInfo {text-align:center;}
.login .alert {display:flex;padding:10px;border-radius:4px;background:#fb8c00;color:#fff;font-size:14px;line-height:1.4}
.login .alert .icon {color:#fff;margin-right:10px}
.login .alert .icon svg {width:24px;height:24px;fill:currentColor;}
.login .success {text-align:center;font-size:24px;height:auto;margin:20px 0;}
.login .success span {display:block;color:#31a5fa;font-size:24px;font-weight:600;}

