@charset "utf-8";
@import url(https://fonts.bunny.net/css?family=noto-sans-kr:100,300,400,500,700,900|open-sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i);
html, body, div, span, a, form, input, select, button, textarea, legend, fieldset, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, blockquote, address, p, th, td, caption, pre, nav {margin:0;padding:0;line-height:1.6;box-sizing:border-box;font-family:'Open Sans', 'Noto Sans KR', sans-serif;;font-size:1vw;font-weight:400;color:#111;font-style:normal;box-sizing:border-box;}
input, select, textarea {height:44px;padding:10px 12px;border-radius:4px;border-radius:5px;border:1px solid rgba( 255, 255, 255, 0.3);background:rgba( 255, 255, 255, 0.1)}
input::placeholder {color:rgba(255, 255, 255, 0.6);font-weight:200}
input:focus {background:rgba(255, 255, 255, 0.2)}
select option {color:#111}
textarea {height:auto}
ol, ul, li {list-style:none;}
a:link, a:visited {text-decoration:none}
a:hover, a:active {text-decoration:none}

html {position:relative;width:100%;height:100%;overflow-y:scroll}
body:before {content:'';position:fixed;top:0;right:0;bottom:0;left:0;background:#f5f5f7;z-index:-1}
#content {position:relative;margin:0 1em}
#header {width:100%;display:flex;align-items:center;z-index:10}
#header nav {display:flex;align-items:center;width:100%;margin:0 auto;padding:1em 2em}
#header nav h1 {margin-right:2.5em}
#header nav h1 a, #header nav h1 a.router-link-active {font-size:28px;font-weight:800;}
#header nav ul {display:flex;position:relative;padding-left:.8em}
#header nav ul:before {content:'';position:absolute;top:.3em;right:0;bottom:.3em;left:0;width:1px;background:#000;}
#header nav ul a {padding:.5em 1em;font-size:min(max(14px, 1em), 24px);letter-spacing:.1em;font-weight:500}
#header nav ul a.router-link-active {color:#000;font-weight:600;padding:.5em 1em;background:#f4f4f5;border-radius:.3em;box-shadow:inset 0 2px 4px 0 rgba(0,0,0,.05);}
#header.products {background:none}
#header.products nav ul a.router-link-active {background:#fff;border:1px solid #eee;box-shadow:none;}

.bg_movie {position:relative;height:80vh}
.bg_movie:before {content:'';position:absolute;top:0;right:0;bottom:0;left:0;
  background:linear-gradient(to right, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.45) 25%, rgba(0, 0, 0, 0.45) 75%, rgba(0, 0, 0, 0.859) 100%)}
.bg_movie img {height:100%;width:100%;object-position:center;object-fit:cover}

.list {display:flex;flex-wrap:wrap;justify-content:flex-start;align-content:stretch;gap:2%;margin:2em}
.list li {flex:0 0 32%;white-space:normal;position:relative;overflow:hidden;padding:2em;margin-bottom:2%;text-align:center}
.list li .thumb {display:block;min-height:125px;overflow:hidden}
.list li .thumb img {max-width:70%;vertical-align:top;transition:all .3s}
.list li .thumb:hover img {transform:scale3d(1.03,1.03,1.03);}
.list li .title {margin:0.3em 0;font-size:min(max(16px, 2em), 24px);text-align:center;width:100%;text-overflow:ellipsis;overflow:hidden;word-wrap:break-word;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;}
.list li .description {margin:0.3em 0;font-size:min(max(14px, 1em), 24px);text-align:left;width:100%;text-overflow:ellipsis;overflow:hidden;word-wrap:break-word;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;}

.btn {padding:6px 20px;border-radius:30px;background:#06da7b;color:#fff}


.detail_movie {box-shadow:rgba(0, 0, 0, 0.65) 0px 0px 0px 1000px inset;}

.error {width:50%;min-width:600px;margin:100px auto;text-align:center;border-radius:18px;padding:2em;margin-bottom:2%;box-shadow:2px 4px 12px rgb(0 0 0 / 8%);background:#fff}
.error h2 {font-size:100px}
.error p {font-size:20px;padding:5px}
.error button {padding:4px 15px;margin:40px 0;cursor:pointer;border:1px solid #999;border-radius:5px}
